<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Страница регистрации</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label>Введите логин:</label>
        <input type="text" name="username" maxlength="30" required><br><br>

        <label>Введите пароль:</label>
        <input type="password" name="password" minlength="8" required><br><br>

        <label>Повторите пароль:</label>
        <input type="password" name="repeat_password" minlength="8" required><br><br>

        <label>Введите свой возраст:</label>
        <input type="number" name="age" max="999" required><br><br>

        <button type="submit">Зарегистрироваться</button>
    </form>
</body>
</html>
